{# Copyright (c) 2020-present eyeo GmbH
 #
 # This module is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.

 # template user will need to squash the newlines here
-#}
savelog -qnl '{{ backup_log_file_path }}' &&
rsync -za
      -e "ssh -i '{{ item.value.server_pubkey_path | regex_replace('\\.pub$', '') }}'"
      '{{ item.value.local_user | mandatory }}'@'{{ inventory_hostname }}':'"{{ item.value.src | mandatory }}"'
      "{{ item.value.dest | mandatory }}"
  > '{{ backup_log_file_path }}'
